/* Main calculator container */
#calculatorWrap {
  width: 320px;
  margin: 0 auto;
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
}

/* Calculator form */
#calculatorForm {
  display: flex;
  flex-direction: column;
}

/* Calculator display */
#displayLastOperation {
  font-size: 1.5em;
  color: #aaa;
  text-align: right;
  margin-bottom: 5px;
}

#displayCurrentOperation {
  font-size: 2.5em;
  color: #fff;
  text-align: right;
  margin-bottom: 15px;
}

/* Calculator buttons */
.calculatorRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #666;
}

button:active {
  transform: translateY(2px);
}

/* Operator buttons */
[data-operationType] {
  background-color: #f60;
}

[data-operationType]:hover {
  background-color: #ff812d;
}

[data-operationType]:active {
  transform: translateY(2px);
}

/* Clear and Delete buttons */
#clearButton {
  background-color: #f44336;
}

#clearButton:hover {
