body {
  background-color: #262626;
  text-align: center;
}

/* CSS for Calculator */
#calculatorWrap {
  width: 250px;
  margin: 100px auto;
  padding: 10px;
  background: linear-gradient(145deg, #222222, #292929);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #F2F2F2;
  box-shadow: 10px 10px 20px #141414,
    -10px -10px 20px #383838;
  text-shadow: 5px 5px 10px #141414,
    -5px -5px 10px #383838;
}

.calculatorDisplay {
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  background: linear-gradient(145deg, #222222, #292929);
  text-align: right;
  box-shadow: 5px 5px 10px #141414,
    -5px -5px 10px #383838;
  overflow: auto;
}

#displayLastOperation {
  font-size: 24px;
  font-weight: bold;
  color: #888;
  padding: 10px 10px 0 10px
}

#displayCurrentOperation {
  font-size: 36px;
  font-weight: bold;
  padding: 0 10px 10px 10px
}

.calculatorRow {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

button {
  width: auto;
  height: 50px;
  margin: 0 5px;
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(145deg, #222222, #292929);
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 15px #131313,
    -5px -5px 15px #393939;
  cursor: pointer;
  color: #F2F2F2;
  width: 50px;
}

button:focus {
  box-shadow: 0 0 0 2px #333, 0 0 0 4px #7d0fd6;
}


#clearButton,
#delete {
  width: 110px
}
